@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600&display=swap");

body {
  margin: 0;
  background-color: #363942;
  font-family: "Montserrat", sans-serif;
  width: 100vw;
}

#root {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

* {
  box-sizing: border-box;
}
